.defbutton { /* deault button */
    background-color: #76D7C4; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} 

.bluebutton  {  /* blue button */
    background-color: #3498DB;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font: GoogleSans-Regular;
}

.redbutton  {  /* red button */
    background-color: #CD6155;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font: GoogleSans-Regular;
}

.gsans
font: GoogleSans-Regular;
color: white 

.test {  /* blue button */
    background-color: #3498DB;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font: GoogleSans-Regular;
}
